<div class="text-editor-body">
    <line-editor *ngFor="let line of document.lines" [line]="line">
    </line-editor>
</div>
<!--
<h3>
    Este componente tiene que mostrar
</h3>
<ul>
    <li>una lista de lineas, que sera el documento</li>
    <li>tendra dos "columnas"</li>
    <ul>
        <li>Definir una clase con datos mocks, no mas de 20 lineas</li>
        <li>una clumna sera  la de la izuiqeda con el  numero de la colunna</li>
        <li>la otra columna sera la de derecha, esta sera la inea que se compondra por un array de letras.</li>
        <li> la letra sera un componente</li>
        <li> La letra sera una clase ¿?</li>
        <li> tendra distintos estados, siendo estos</li>
        <li> seleccionado</li>
        <li> editor-derecha</li>
        <li> editor-izquierda</li>
        <li> subrayado</li>
        <li> negrita</li>
        <li> cursiva</li>
        <li>-----</li>
        <li>la letra  escuchar eventos como</li>
        <li>eliminado, añadir, seleccionado, flechas</li>
    </ul>
</ul>
-->